
.App {
    width: 96vw;
    height: 96vh;

    position: relative;
    top: 2vh;
    left: 2vw;

    background-color: white;

    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.App > div {
    margin: 3px;
}